<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-Type"content="text/html;charset=UTF-8"/>
<title>民谣音乐</title>
	<link th:href="@{/css/gezhe.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div id="header">
		<ul class="header1">
			<img src="/images/9.jpg" alt="民谣"/>
			<input type="text" name="search"  class="text" placeholder="搜索音乐、视频、电台">
			<input type="submit" name="submit" class="submit" value="搜索">
		</ul>
		<ul class="header2">
			<li><img src="/images/user.png"/><a href="#">用户</a></li>
			<li><img src="/images/skin.png"/><a href="#">皮肤</a> </li>
			<li><img src="/images/tool.png"/><a href="#">设置</a> </li>
		</ul>
		<ul class="header3">
			<li class="li1">生活不止眼前的苟且</li>
			<li class="li2">还有诗和远方的田野</li>
		</ul>
		<ul class="header4">
			<li><a href="/main">首页</a></li>
			<li><a href="#">心灵电台</a></li>
			<li><a href="#">最新歌曲</a></li>
			<li><a href="#">分类歌单</a></li>
			<li><a href="/gezhe">灵魂歌者</a></li>
			<li><a href="/story">歌曲故事</a></li>
		</ul>
	</div>
	<div id="body">
		<ul class="content1">
			<li class="li1"><a href="#">全部歌手</a></li>
			<h1>华语</h1>
			<li class="li2"><a href="#">华语男歌手</a></li>
			<li class="li2"><a href="#">华语女歌手</a></li>
			<li class="li2"><a href="#">华语乐队</a></li>
			<h1>欧美</h1>
			<li class="li2"><a href="#">欧美男歌手</a></li>
			<li class="li2"><a href="#">欧美女歌手</a></li>
			<li class="li2"><a href="#">欧美乐队</a></li>
			<h1>日韩</h1>
			<li class="li2"><a href="#">日韩男歌手</a></li>
			<li class="li2"><a href="#">日韩女歌手</a></li>
			<li class="li2"><a href="#">日韩乐队</a></li>
		</ul>
		<ul class="content2">
			<h1>全部歌手</h1>
			<li class="li1">索引</li>
			<li class="li2"><a href="#">A</a> <a href="#">B</a> <a href="#">C</a> <a href="#">D</a> <a href="#">E</a> <a href="#">F</a> <a href="#">G</a> <a href="#">H</a> <a href="#">I</a> <a href="#">J</a> <a href="#">K</a> <a href="#">L</a> <a href="#">M</a> <a href="#">N</a> <a href="#">O</a> <a href="#">P</a> <a href="#">Q</a> <a href="#">R</a> <a href="#">S</a> <a href="#">T</a> <a href="#">U</a> <a href="#">V</a> <a href="#">W</a> <a href="#">X</a> <a href="#">Y</a> <a href="#">Z</a></li>
			<li class="li3"><a href="#">其他</a></li>
		</ul>
		<ul class="content3">
			<li><img src="/images/33.png"/><a href="#">赵雷</a></li>
			<li><img src="/images/34.png"/><a href="#">李志</a></li>
			<li><img src="/images/35.png"/><a href="#">好妹妹乐队</a></li>
			<li><img src="/images/36.png"/><a href="#">陈粒</a></li>
			<li><img src="/images/37.png"/><a href="#">花粥</a></li>
			<li><img src="/images/38.png"/><a href="#">朴树</a></li>
			<li><img src="/images/39.png"/><a href="#">鹿先森乐队</a></li>
			<li><img src="/images/40.png"/><a href="#">Jam</a></li>
			<li><img src="/images/42.png"/><a href="#">谢春花</a></li>
			<li><img src="/images/43.png"/><a href="#">马頔</a></li>
			<li><img src="/images/44.png"/><a href="#">郭旭</a></li>
			<li><img src="/images/45.png"/><a href="#">房东的猫</a></li>
		</ul>
	</div>
	<div id="footer">
		<ul>
			<li>电话：010-02564121 传真：010-25547815 客服电话：400-8208820</li>
			<li>XXXXXX有限公司 版权所有 XXXXXXXXX</li>
		</ul>
	</div>
</body>
</html>
