<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="/jquery-3.4.1.min.js"></script>
<link>
<meta http-equiv="content-type" content="text/html" charset="UTF-8">
<title>民谣吧</title>
<script th:src="@{/jquery-3.4.1.min.js}" type="application/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="application/javascript"></script>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/css/community.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<EMBED src="d:/隔壁老樊 - 多想在平庸的生活拥抱你.mp3" width=0 height=0 type=audio/mpeg loop="-1" autostart="true" volume="0"></EMBED>

<div class="title" style= font-family:YouYuan>

    <div class="title" style= font-size:25px><p class="boxtitle">生活不止眼前的苟且，还有诗和远方</p></div>
    <div class="box1">
        <p style="front-size:90px">民谣类型</a></p>
        <ul>
            <li><a href="http://baike.so.com/doc/6680884-6894781.html">高原山歌</a>   </li>
            <li><a href="http://baike.so.com/doc/6383828-6597481.html">劳动号子</a>   </li>
            <li><a href="http://s.music.so.com/s?q=%E7%94%B0%E6%AD%8C&src=tab_baike">田歌</a>   </li>
            <li><a href="http://s.music.so.com/s?frsug=0&q=%E5%9F%8E%E9%95%87%E5%B0%8F%E8%B0%83">城镇小调</a>   </li>
        </ul>
        <style>
            ul{
                list-style-type: circle;
              }
        </style>
    </div>
    </div>
<br/>
<div align="center">
    <div class="title" style= font-size:25px><p class="boxtitle">喜欢的民谣，一次听个够</p></div>

    <div class="box2">
        <p style="front-size:50px">歌手</a></p>
    </div>
    <style>
        .style1{
            background-image:url('c:/a.jpg');
        }
    </style>
    <ul>
        <a href="https://music.163.com/#/artist?id=1007170">陈粒</a>
        <a href="https://music.163.com/#/artist?id=6731">赵雷</a>
        <a href="https://music.163.com/#/artist?id=1071031">jam</a>
        <a href="https://music.163.com/#/artist?id=12429072">隔壁老樊</a>
        <a href="https://music.163.com/#/artist?id=12382970">陈雪凝</a>
        <a href="https://music.163.com/#/artist?id=12002248">沈以诚</a>
        <a href="https://music.163.com/#/artist?id=12977">逃跑计划</a>
        <a href="https://music.163.com/#/search/m/?id=12977&s=%E5%AE%8B%E4%B8%9C%E9%87%8E&type=1">宋东野</a>   </li>
        <a href="https://music.163.com/#/artist?id=14319267">赵明</a>   </li>
        <a href="https://music.163.com/#/search/m/?id=14319267&s=%E6%B0%91%E8%B0%A3&type=100">其他</a>   </li>
    </ul>


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style type="text/css">
    </style>
</head>
<a>
    <table>
        <tr><td><div></div> </td></tr>
    </table>
    <body> 想查找歌手吗?(*^▽^*)</body>
</a>
<li><a href="https://music.163.com/">点我哟!</a>
</li>
</html>
</body>
</html>
</div>

<body class="style1">
<span style="float:right"></span>
<div class="title" style= font-size:25px><p class="boxtitle">行走在路上的民谣</p></div>

<div class="box3">

    <p style="front-size:100px"><a href="https://music.163.com/#/search/m/?s=%E6%B0%91%E8%B0%A3%E6%AD%8C%E5%8D%95&type=1">
        想听民谣点我哦！0.0</a></p>
    <style>
        .font_bk{border:1px solid #ccc;}
    </style>
    <ul>

        <span class="font_bk">民谣歌单u(0.0)u</span>
        <tr>
            <ul>
                <li><a href="https://music.163.com/#/playlist?id=2946227728">民谣一个人的孤独</a>   </li>
                <li><a href="https://music.163.com/#/playlist?id=498708023">民谣200首</a>   </li>
                <li><a href="https://music.163.com/#/playlist?id=518508697"> 陈粒-民谣界</a>  </li>
                <li><a href="https://music.163.com/#/playlist?id=329641066">烟酒嗓与民谣儿</a>   </li>
            </ul>
        </tr>

</div>
</body>
</body>
</html>