<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-Type"content="text/html;charset=UTF-8"/>
<title>民谣音乐</title>
	<link th:href="@{/css/story.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div id="header">
		<ul class="header1">
			<img src="/images/9.jpg" alt="民谣"/>
			<input type="text" name="search"  class="text" placeholder="搜索音乐、视频、电台">
			<input type="submit" name="submit" class="submit" value="搜索">
		</ul>
		<ul class="header2">
			<li><img src="/images/user.png"/><a href="#">用户</a></li>
			<li><img src="/images/skin.png"/><a href="#">皮肤</a> </li>
			<li><img src="/images/tool.png"/><a href="#">设置</a> </li>
		</ul>
		<ul class="header3">
			<li class="li1">生活不止眼前的苟且</li>
			<li class="li2">还有诗和远方的田野</li>
		</ul>
		<ul class="header4">
			<li><a href="/main">首页</a></li>
			<li><a href="#">心灵电台</a></li>
			<li><a href="#">最新歌曲</a></li>
			<li><a href="#">分类歌单</a></li>
			<li><a href="/gezhe">灵魂歌者</a></li>
			<li><a href="/story">歌曲故事</a></li>
		</ul>
	</div>
	<div id="body">
		<ul class="content1">
			<img src="images/41.png" alt="李志"/>
		</ul>
		<ul class="content2">
			<h1>关于郑州的记忆</h1>
			<li class="li1">中文名称:关于郑州的记忆 <span>谱    曲:李志 </span></li>
			<li class="li1">外文名称:Hello Zhengzhou <span>歌曲语言:普通话 </span></li>
			<li class="li1">所属专辑:《你好，郑州》<span>吉    他:韩俊 </span></li>
			<li class="li1">歌曲时长:03:50 <span>歌曲时长:03:50 </span></li>
			<li class="li1">发行时间:2010年9月1日<span>键    盘:胡欣 </span></li>
			<li class="li1">歌曲原唱:李志<span>鼓    手:余赣宁 </span></li>
			<li class="li1">填    词:李志<span>和    声:老狼 </span></li>
		</ul>
		<ul class="content3">
		<h1><a href="#">相似歌曲>></a></h1>
		<li class="li1"><img src="images/52.png"/><a href="#">成都</a><br/><span>赵雷</span></li>
		<li class="li1"><img src="images/53.png"/><a href="#">北方女王</a><br/><span>尧十三</span></li>
		<li class="li1"><img src="images/54.png"/><a href="#">小梦大半</a><br/><span>陈粒</span></li>
		<li class="li1"><img src="images/55.png"/><a href="#">西安的故事</a><br/><span>范炜与程渤智</span></li>
		<h1><a href="#">喜欢这首歌曲的人>></a></h1>
		<li class="li2"><img src="images/56.png"/><a href="#">用户123456</a><span>5分钟前听过</span></li>
		<li class="li2"><img src="images/57.png"/><a href="#">唯心zzz</a><span>8分钟前听过</span></li>
		<li class="li2"><img src="images/58.png"/><a href="#">夏天</a><span>11分钟前听过</span></li>
		<li class="li2"><img src="images/59.png"/><a href="#">皈依##</a><span>18分钟前听过</span></li>
		</ul>
		<ul class="content4">
			<h1>创作背景</h1>
			<p>  澳门回归的那一年，李志刚刚大学毕业，找工作不顺心，就在网
		吧里泡着，在聊天室遇到一个女孩，他说他喜欢唱歌，就在南京的网吧为那个女孩唱了一首《北京的金山上》，那女孩听得很感动，他们也聊得很投机。于是他们约好见面，他就是从南京逃票跑到了郑州寻找他的爱情。当时是个冬天，郑州很冷。在郑州待了一段时间他就回来了，这段爱情故事也算结束了。李志为纪念这个自己曾经喜欢的郑州女孩，写了这首《关于郑州的记忆》。</p>
		</ul>
		<ul class="content5">
		<li><a href="#"><img src="images/49.png"/></a><span>收藏</span></li>
		<li><a href="#"><img src="images/50.png"/></a><span>分享</span></li>
		<li><a href="#"><img src="images/51.png"/></a><span>点赞</span></li>
		</ul>
	</div>
	<div id="footer">
		<ul>
			<li>电话：010-02564121 传真：010-25547815 客服电话：400-8208820</li>
			<li>XXXXXX有限公司 版权所有 XXXXXXXXX</li>
		</ul>
	</div>
	<audio autoplay="" loop=""><source src="images/李志 - 关于郑州的记忆.mp3"></audio>
</body>
</html>